
@{
    ViewBag.Title = "Index";
    ViewBag.InitModule = "configIndex";
}

@section scripts
{
    <script src="~/app/controllers/config-index.js"></script>
    <script src="~/app/controllers/config-data-service.js"></script>
}

<div data-ng-view=""></div>