body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.configurationListing {
    border: solid 1px #cccccc;
    padding: 10px;
    margin: 5px;
    background: #f1f1f1;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.configurableItemListing {
    border: solid 1px #cccccc;
    padding: 10px;
    margin: 5px;
    background: #f1f1f1;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.configurableItemOptionListing {
    border: solid 1px #cccccc;
    padding: 10px;
    margin: 5px;
    background: #cccccc;
    -ms-border-radius: 5px;
    border-radius: 5px;
}